h1 {
	font-family: "Verdana", Verdana, sans-serif;
	font-size: 1.5em;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	border-style: solid;
}

p.contactinfo{
	margin: 0px 0px 0px 0px;
	font-family: "Verdana", Verdana, sans-serif;
	font-size: .875em; 
}

div.header{
	margin-left: 175px;
}

div.entries{
	font-family: "Verdana", Verdana, sans-serif;
	font-size: .875em; 
}

table{
	margin-left: 175px;
	border: 1px solid black;
}

tr.location{
	font-style: italic;
	color: #858585;
}

tr.time{
	color: #858585;
}

th{
	text-align: left;
	width: 200px;
	vertical-align: text-top;
}

td{
	vertical-align: text-top;
}